@model RegistrationForm_mvc.Data.SignUp
@{
    ViewBag.Title = "ForgotPassword";
}

<h4>FORGOT PASSWORD </h4>

@using (Html.BeginForm("ForgotPassword", "Employee", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="alert alert-danger">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(s => s.RegiatrationId)
            <label>Email Id</label>
            @Html.ValidationMessageFor(s => s.Email, "", new { @Class = "error" })

            @Html.TextBoxFor(s => s.Email, new { @Class = "txtName" })
        </div>
        <div class="form-group justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
}
<script type="text/javascript">
function() {
    var status = '@ViewBag.Status';
    if (status) {
        alert("Mail Send Successfully");
    } else {
        alert("error");
    }
}
</script>


